/* Old mege menu */

.mega-drop-down a {
  padding: 22px;
}
.clearfix:after {
  clear: both;
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a.active,
a:active,
a:visited,
a:focus {
  color: #000;
  text-decoration: none;
}
.content {
  /* margin: 50px 100px 0px 100px; */
}

.exo-menu {
  width: 100%;
}
.exo-menu > li {
  display: inline-block;
  float: left;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d40029;
  border-color: #d40029;
}

.img-responsive {
  width: 100%;
}
.exo-menu > li > a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px #365670 dotted;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
}
.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover {
  background: #009fe1;
  color: #fff;
}
.exo-menu i {
  float: left;
  font-size: 18px;
  margin-right: 6px;
  line-height: 20px !important;
}
li.drop-down,
.flyout-right,
.flyout-left {
  position: relative;
}
li.drop-down:before {
  content: "\f103";
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  position: absolute;
  right: 6px;
  top: 20px;
  font-size: 14px;
}
li.drop-down > ul {
  left: 0px;
  min-width: 230px;
}
.drop-down-ul {
  display: none;
}
.flyout-right > ul,
.flyout-left > ul {
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
}

li.drop-down > ul > li > a,
.flyout-right ul > li > a,
.flyout-left ul > li > a {
  color: #fff;
  display: block;
  padding: 20px 22px;
  text-decoration: none;
  background-color: #365670;
  border-bottom: 1px dotted #547787;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
}
.flyout-right ul > li > a,
.flyout-left ul > li > a {
  border-bottom: 1px dotted #b8c7bc;
}

/*Flyout Mega*/
.flyout-mega-wrap {
  top: 0;
  right: 0;
  left: 100%;
  width: 100%;
  display: none;
  height: 100%;
  padding: 15px;
  min-width: 742px;
}
h4.row.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}
.flyout-mega ul > li > a {
  font-size: 90%;
  line-height: 25px;
  color: #fff;
  font-family: inherit;
}
.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus {
  text-decoration: none;
  background-color: transparent !important;
  color: #ccc !important;
}
/*mega menu*/

.mega-menu {
  left: 0;
  right: 0;
  top: 33px;
  padding: 16px;
  display: none;
  padding-top: 0;
  min-height: 100%;
  width: 1057px;
  z-index: 2;
  max-width: 1202px;
}
h4.row.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #547787;
  padding-top: 15px;
  background-color: #365670;
}
.mega-menu ul li a {
  line-height: 12px;
  font-size: 90%;
  display: block;
}
ul.stander li a {
  padding: 3px 0px;
}

ul.description li {
  padding-bottom: 12px;
  line-height: 8px;
}

ul.description li span {
  color: #000;
  font-size: 85%;
}
a.view-more {
  border-radius: 1px;
  margin-top: 15px;
  background-color: #009fe1;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important;
}
a.view-more:hover {
  color: #000;
  background: #0dadef;
}
ul.icon-des li a i {
  color: #000;
  width: 35px;
  height: 26px;
  border-radius: 50%;
  text-align: center;

  line-height: 20px !important;
}

ul.icon-des li {
  width: 100%;
  display: table;
  margin-bottom: 0px;
}
/*Blog DropDown*/
.Blog {
  left: 0;
  display: none;
  color: #000;
  padding-top: 15px;
  background: #547787;
  padding-bottom: 15px;
}
.Blog .blog-title {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
}
.Blog .blog-des {
  color: #ccc;
  font-size: 90%;
  margin-top: 15px;
}
.Blog a.view-more {
  margin-top: 0px;
}
/*Images*/
.Images {
  left: 0;
  width: 100%;
  display: none;
  color: #fefefe;
  padding-top: 15px;
  background: #547787;
  padding-bottom: 15px;
}
.Images h4 {
  font-size: 15px;
  margin-top: 0px;
  text-transform: uppercase;
}
/*common*/
.flyout-right ul > li > a,
.flyout-left ul > li > a,
.flyout-mega-wrap,
.mega-menu {
  background-color: #fff;
}

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left > ul:hover,
li.flyout-right > ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover + ul,
li.flyout-right a:hover + ul,
.blog-drop-down > a:hover + .Blog,
li.drop-down > a:hover + .drop-down-ul,
.images-drop-down > a:hover + .Images,
.mega-drop-down a:hover + .mega-menu,
li.flyout-mega > a:hover + .flyout-mega-wrap {
  display: block;
}
/*responsive*/
@media (min-width: 767px) {
  .exo-menu > li > a {
    display: block;
    padding: 20px 22px;
  }
  .mega-menu,
  .flyout-mega-wrap,
  .Images,
  .Blog,
  .flyout-right > ul,
  .flyout-left > ul,
  li.drop-down > ul {
    position: absolute;
  }
  .flyout-right > ul {
    left: 100%;
  }
  .flyout-left > ul {
    right: 100%;
  }
}
@media (max-width: 767px) {
  .exo-menu {
    min-height: 58px;
    background-color: #23364b;
    width: 100%;
  }

  .exo-menu > li > a {
    width: 100%;
    display: none;
  }
  .exo-menu > li {
    width: 100%;
  }
  .display.exo-menu > li > a {
    display: block;
    padding: 20px 22px;
  }

  .mega-menu,
  .Images,
  .Blog,
  .flyout-right > ul,
  .flyout-left > ul,
  li.drop-down > ul {
    position: relative;
    background-color: #fff;
  }
}
a.toggle-menu {
  position: absolute;
  right: 0px;
  padding: 20px;
  font-size: 27px;
  background-color: #ccc;
  color: #23364b;
  top: 0px;
}


/* new css */

.mt30{margin-top: 30px;}
.mb30{margin-bottom: 30px;}
.mt20{margin-bottom: 20px;}
.mb20{margin-bottom: 20px;}

.search-button 
{
  height: 48px;
  border: 1px solid #eae9e9;
  /* background-color: #e31836; */
  color: #6a6464;
}
.search-button:hover
{
  height: 48px;
  border: 1px solid #e31836;
  background-color: #e31836;
  color: #fff
}
.nav-user-img i
{
font-size: 22px;
}

.navbar-fixed {
top: 0;
z-index: 100;
position: fixed;
width: 100%;
}

.nav-user-img i:hover {
color: #c43b2a;
}

.nav-user-img 
{
padding: 5px 10px !important;
}
.header-main
{
  margin-bottom: 0px;
}
.heading-h {
color: #d40029;
margin-bottom: 40px;
margin-top: 40px;
font-size: 1.75rem;
font-weight: 500;
}
/* Mega Menu */
.logo-order 
{
  text-align: center;
}

.ace-megamenu .navbar-nav 
{
width: 100%;
display: flex;
/* justify-content: space-between; */
justify-content: flex-start;
}

.ace-megamenu
{
  margin-top: -15px;
  margin-bottom: 1px;
  background: #eff2f7
}

.ace-megamenu .nav-link {
  color: #1f2d3d !important;
}
.ace-megamenu .nav-link:hover {
  color: #e31836 !important;
}
.ace-megamenu .navbar .nav-item
{
  font-size: 15px !important;
}
.ace-megamenu .bg-primary {
  background-color: #fff;
}

.ace-megamenu .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link
{
  color: #e31836;
}

.ace-megamenu .navbar-toggler
{
  background-color: #e31836;
}
.mega-sub-menu .nav-pills li a
{
color: red;
}
.mega-sub-menu .nav-pills li a
{
color: red;
}

.mega-sub-menu .nav
{
display:block;
}

.mega-menu-title 
{
color: #000;
font-weight: 400;
font-size: 20px;

}

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom:1rem;
}

.navbar .dropdown-menu {
 border:none;
 background-color:#fff!important;
}

@media screen and (min-width: 768px) {
 
.navbar {
 padding-top:0px;
 padding-bottom:0px;
}

.navbar .nav-item {
 padding:.5rem .5rem;
 margin:0 .25rem;
}

.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
width: 95%;
  left: 0;
  right: 0;
  /* top: 63px; */
  margin: 0 auto;
  /* display: block; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  border-radius: 0px;
 
}
 

.ace-megamenu .tabs-section {
overflow: hidden;
/* background-color: #333; */
padding: 0px 0px;
}
 
.dropdown .dropdown-menu {
  transition: all 0.8s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
 display:block;
 visibility: visible;
 opacity: 1;
 transform: scale(1);
 /* transition: visibility 0s, opacity 0.3s linear; */
 
}

/* .navbar .dropdown-menu.show {
  display: block;
} */

 
/* .navbar .dropdown .dropdown-menu.show {
 display:block;
 visibility: visible;
 opacity: 1;
 transition: visibility 0s, opacity 0.3s linear;
 overflow-y: scroll;
height: 350px;}  */



 
 .navbar .dropdown-menu {
   border: 1px solid rgba(0,0,0,.15);
   background-color: #fff;
 }

}

/* swipe slider */
.swiper-slide
{
 width: 100% !important;
}
.swiper-container
{
 margin-top: 2px;
}

/* search form  */

.search-form .form-control 
{
background-color: #f1f1f1;
}


/* Feature */

.ace-feature 
{
border-bottom: 1px solid #dfdbdb;
}

.ace-feature .content
{
   /* margin: 20px 100px 0px 100px !important; */
}

/* Feature Slider */

.service .slick-prev, .service .slick-next
{
   font-size: 0px;
}

.slick-prev:before, .slick-next:before {
  font-size: 14px;
  /* background: red; */
  line-height: 1;
  opacity: .75;
  color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50px;
}
.slick-prev:before, .slick-next:before
{
  background-color: transparent;
}
.slick-prev, .slick-next {
position: absolute;
top: 50%;
/* font-size: 1.8rem; */

width: 30px;
height: 30px;
z-index: 1;
transition: 0.5s;
color: #d40029;
background: #ffffff;
border: 1px solid #d40029;
border-radius: 4px;
}

.slick-prev, .slick-next
{
   font-size: 0px;
}

/* Top Categories */
.slick-slide p
{
margin-top: 10px;
margin-bottom: 10px;
font-size: 16px;
}



.tabs-section {
overflow: hidden;
/* background-color: #333; */
padding: 20px 0px;
}
.tabs-section .feature-img {
max-height: 255px;
overflow: hidden;
border-radius: 10px;
border: 3px solid #fff;
}
.tabs-section .nav-tabs {
border: 0;
}
.tabs-section .nav-link {
border: 0;
padding: 11px 15px;
transition: 0.3s;
color: #fff;
border-radius: 0;
border-right: 1px solid  #d40029 !important;
font-weight: 600;
font-size: 15px;
}

.sub-mega-nav 
{
/* display: block; */
}

.tabs-section .sub-mega-nav .nav-link
{
border: none !important;
}

.tabs-section .sub-mega-nav .nav-link
{
padding: 4px 15px;
  
  border-radius: 0;
  font-weight: 500;
  font-size: 15px;
}
.sub-mega-nav .nav-item
{
padding: 0px !important;
}

.tabs-section .nav-link:hover {
color: #cddc39;
}
.tabs-section .nav-link.active {
color: #fff !important;
background: #d40029;
}
.tabs-section .nav-link:hover {
border-right: 4px solid #d40029;
}
.tabs-section .tab-pane.active {
-webkit-animation: fadeIn 0.5s ease-out;
animation: fadeIn 0.5s ease-out;
}
.tabs-section .details h3 {
font-size: 23px;
color: #e31836;
}
.tabs-section .details p {
color: #aaaaaa;
}


/* animation */

.animatable {

/* initially hide animatable objects */
visibility: hidden;

/* initially pause animatable objects their animations */
-webkit-animation-play-state: paused;   
-moz-animation-play-state: paused;     
-ms-animation-play-state: paused;
-o-animation-play-state: paused;   
animation-play-state: paused; 
}

/* show objects being animated */
.animated {
visibility: visible;

-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;

-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-ms-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;

-webkit-animation-play-state: running;
-moz-animation-play-state: running;
-ms-animation-play-state: running;
-o-animation-play-state: running;
animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translateY(-20px);
}	100% {
  opacity: 1;
  -webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInDown {
0% {
  opacity: 0;
  -moz-transform: translateY(-20px);
}

100% {
  opacity: 1;
  -moz-transform: translateY(0);
}
}

@-o-keyframes fadeInDown {
0% {
  opacity: 0;
  -o-transform: translateY(-20px);
}

100% {
  opacity: 1;
  -o-transform: translateY(0);
}
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  transform: translateY(-20px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}



@-webkit-keyframes fadeIn {
0% {
  opacity: 0;
}
20% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@-moz-keyframes fadeIn {
0% {
  opacity: 0;
}
20% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@-o-keyframes fadeIn {
0% {
  opacity: 0;
}
20% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes fadeIn {
0% {
  opacity: 0;
}
60% {
  opacity: 0;
}
20% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@-webkit-keyframes bounceInLeft {
0% {
  opacity: 0;
  -webkit-transform: translateX(-2000px);
}
60% {
  -webkit-transform: translateX(20px);
}

80% {
  -webkit-transform: translateX(-5px);
}

100% {
  opacity: 1;
  -webkit-transform: translateX(0);
}
}

@-moz-keyframes bounceInLeft {
0% {
  opacity: 0;
  -moz-transform: translateX(-2000px);
}

60% {
  -moz-transform: translateX(20px);
}

80% {
  -moz-transform: translateX(-5px);
}

100% {
  opacity: 1;
  -moz-transform: translateX(0);
}
}

@-o-keyframes bounceInLeft {
0% {
  opacity: 0;
  -o-transform: translateX(-2000px);
}

60% {
  opacity: 1;
  -o-transform: translateX(20px);
}

80% {
  -o-transform: translateX(-5px);
}

100% {
  opacity: 1;
  -o-transform: translateX(0);
}
}

@keyframes bounceInLeft {
0% {
  opacity: 0;
  transform: translateX(-2000px);
}

60% {
  transform: translateX(20px);
}

80% {
  transform: translateX(-5px);
}

100% {
  opacity: 1;
  transform: translateX(0);
}
}
@-webkit-keyframes bounceInRight {
0% {
  opacity: 0;
  -webkit-transform: translateX(2000px);
}

60% {
  -webkit-transform: translateX(-20px);
}

80% {
  -webkit-transform: translateX(5px);
}

100% {
  opacity: 1;
  -webkit-transform: translateX(0);
}
}

@-moz-keyframes bounceInRight {
0% {
  opacity: 0;
  -moz-transform: translateX(2000px);
}

60% {
  -moz-transform: translateX(-20px);
}

80% {
  -moz-transform: translateX(5px);
}

100% {
  opacity: 1;
  -moz-transform: translateX(0);
}
}

@-o-keyframes bounceInRight {
0% {
  opacity: 0;
  -o-transform: translateX(2000px);
}

60% {
  -o-transform: translateX(-20px);
}

80% {
  -o-transform: translateX(5px);
}

100% {
  opacity: 1;
  -o-transform: translateX(0);
}
}

@keyframes bounceInRight {
0% {
  opacity: 0;
  transform: translateX(2000px);
}

60% {
  transform: translateX(-20px);
}

80% {
  transform: translateX(5px);
}

100% {
  opacity: 1;
  transform: translateX(0);
}
}
@-webkit-keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translateY(20px);
}	100% {
  opacity: 1;
  -webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInUp {
0% {
  opacity: 0;
  -moz-transform: translateY(20px);
}

100% {
  opacity: 1;
  -moz-transform: translateY(0);
}
}

@-o-keyframes fadeInUp {
0% {
  opacity: 0;
  -o-transform: translateY(20px);
}

100% {
  opacity: 1;
  -o-transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
  opacity: 0;
  transform: translateY(20px);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}
@-webkit-keyframes bounceIn {
0% {
  opacity: 0;
  -webkit-transform: scale(.3);
}
50% {
  -webkit-transform: scale(1.05);
}

70% {
  -webkit-transform: scale(.9);
}

100% {
  opacity: 1;
  -webkit-transform: scale(1);
}
}

@-moz-keyframes bounceIn {
0% {
  opacity: 0;
  -moz-transform: scale(.3);
}

50% {
  -moz-transform: scale(1.05);
}

70% {
  -moz-transform: scale(.9);
}

100% {
  opacity: 1;
  -moz-transform: scale(1);
}
}

@-o-keyframes bounceIn {
0% {
  opacity: 0;
  -o-transform: scale(.3);
}

50% {
  -o-transform: scale(1.05);
}

70% {
  -o-transform: scale(.9);
}

100% {
  opacity: 1;
  -o-transform: scale(1);
}
}

@keyframes bounceIn {
0% {
  opacity: 0;
  transform: scale(.3);
}

50% {
  transform: scale(1.05);
}

70% {
  transform: scale(.9);
}

100% {
  opacity: 1;
  transform: scale(1);
}
}
@-webkit-keyframes moveUp {
0% {
  opacity: 1;
  -webkit-transform: translateY(40px);
}	100% {
  opacity: 1;
  -webkit-transform: translateY(0);
}
}

@-moz-keyframes moveUp {
0% {
  opacity: 1;
  -moz-transform: translateY(40px);
}

100% {
  opacity: 1;
  -moz-transform: translateY(0);
}
}

@-o-keyframes moveUp {
0% {
  opacity: 1;
  -o-transform: translateY(40px);
}

100% {
  opacity: 1;
  -o-transform: translateY(0);
}
}

@keyframes moveUp {
0% {
  opacity: 1;
  transform: translateY(40px);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}

@-webkit-keyframes fadeBgColor {
0%{
  background:none;
}
70%{
  background:none;
}
100%{
  background:#464646;
}
}
@-o-keyframes fadeBgColor {
0%{
  background:none;
}
70%{
  background:none;
}
100%{
  background:#464646;
}
}
@keyframes fadeBgColor {
0%{
  background:none;
}
70%{
  background:none;
}
100%{
  background:#464646;
}
}

.animated.animationDelay{
animation-delay:.4s;
-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
animation-delay:1.2s;
-webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
animation-delay:1.6s;
-webkit-animation-delay:1.6s;
}
.animated.fadeBgColor {
-webkit-animation-name: fadeBgColor;
-moz-animation-name: fadeBgColor;
-o-animation-name: fadeBgColor;
animation-name: fadeBgColor;
}
.animated.bounceIn {
-webkit-animation-name: bounceIn;
-moz-animation-name: bounceIn;
-o-animation-name: bounceIn;
animation-name: bounceIn;
}
.animated.bounceInRight {
-webkit-animation-name: bounceInRight;
-moz-animation-name: bounceInRight;
-o-animation-name: bounceInRight;
animation-name: bounceInRight;
}
.animated.bounceInLeft {
-webkit-animation-name: bounceInLeft;
-moz-animation-name: bounceInLeft;
-o-animation-name: bounceInLeft;
animation-name: bounceInLeft;
}
.animated.fadeIn {
-webkit-animation-name: fadeIn;
-moz-animation-name: fadeIn;
-o-animation-name: fadeIn;
animation-name: fadeIn;
}
.animated.fadeInDown {
-webkit-animation-name: fadeInDown;
-moz-animation-name: fadeInDown;
-o-animation-name: fadeInDown;
animation-name: fadeInDown;
}
.animated.fadeInUp {
-webkit-animation-name: fadeInUp;
-moz-animation-name: fadeInUp;
-o-animation-name: fadeInUp;
animation-name: fadeInUp;
}
.animated.moveUp {
-webkit-animation-name: moveUp;
-moz-animation-name: moveUp;
-o-animation-name: moveUp;
animation-name: moveUp;
}

/* Featured brands  */


/* Ace-Login */
.ace-login
{
margin-top: 80px;
margin-bottom: 80px;
padding-left: 10px;
padding-right: 10px;
}
.ace-login-bg 
{
border: 2px solid #eff2f7;
  padding: 20px;
  border-radius: 25px;
  /* background-color: #eff2f7; */
  box-shadow: 5px 10px 1px 2px #eaeaea;

}

.ace-login .btn-login 
{
width: 100%;
border-radius: 5px;
height: 50px;
background-color: #d40029;
border: none;
color: #fff;
}

.ace-login .btn-login:hover 
{
width: 100%;
border-radius: 5px;
height: 50px;
background-color: #d40029;
border: none;
color: #fff;
}


.ace-login .btn-register
{
width: 100%;
border-radius: 5px;
height: 50px;
background-color: #575554;
border: none;
color: #fff;
}
.ace-login .btn-register:hover
{
width: 100%;
border-radius: 5px;
height: 50px;
background-color: #575554;
border: none;
color: #fff;
}

.ace-login-bg .login-title h3
{
margin-bottom: 30px;
margin-top: 0px;
text-align: center;
}

.ace-login .social-border 
{
line-height: 1em;
position: relative;
outline: 0;
border: 0;
color: #8492a6;
text-align: center;
height: 1.5em;
}
.ace-login .social-border:before
{
content: "";
background: #e5e9f2;
position: absolute;
left: 0;
top: 50%;
width: 100%;
height: 1px;
}
.ace-login .social-border:after
{
content: attr(data-content);
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 0 .5em;
  line-height: 1.5em;
}

.ace-login .btn-login-facebook 
{
background-color: #4267B2;
width: 100%;
color: #fff;
height: 50px;
margin-bottom: 10px;
float: left;
margin-right: 30px;
border-color:  #4267B2;;
}
.ace-login .btn-login-facebook:hover 
{
background-color: #fff;
width: 100%;
color:  #4267B2;
height: 50px;
margin-bottom: 10px;
float: left;
margin-right: 30px;
border-color:  #4267B2;;


}

.ace-login .btn-login-google 
{
background-color: #DB4437;
color: #fff;
height: 50px;
margin-bottom: 10px;
width: 100%;
float: left;
border-color: #DB4437;
}

.ace-login .btn-login-google:hover
{
background-color: #fff;
color:  #DB4437;
height: 50px;
margin-bottom: 10px;
width: 100%;
float: left;
border-color: #DB4437;

}

.ace-login .btn-login-facebook i,
.ace-login .btn-login-google i
{
margin-right: 20px;
}

.remember-me 
{
margin-top: 15px;
width: 50%;
}

.ace-login .forget-password 
{
float: right;
  margin-top: -30px;
}



.mt20 
{
margin-top: 20px;
}
.ace-login .forget-password-popup
{

padding: 4rem;
border-radius: .3rem;

}
.ace-login .forget-password-popup .modal-header
{
border-bottom: none;
height: 0px;
}
.ace-login .forget-password-popup .modal-close
{
position: absolute;
right: 15px;
top: -15px;
background-color: red;
opacity: 1;
color: #fff;
padding: 10px 15px;
}
.ace-login .forget-pw-title h3
{
color: #d40029;
margin-bottom: 20px;
margin-top: 10px;
font-size: 22px;
text-align: center;
}

.ace-login .modal-dialog 
{
max-width: 500px !important;
}

/* Product List */
.ace-product-listing
{
margin-top: 60px;
margin-bottom: 60px;
}
.ace-product-filter
{
margin-top: 30px;
margin-bottom: 30px;
}


.ace-product-listing .product-sort-view
{
  justify-content: space-between;
}

.ace-product-listing .product-sort-view-left
{
display: flex;
  align-items: center;
}
.ace-product-listing .product-sort-view-right
{
display: flex;
  align-items: center;
}


.toolbox.sticky-toolbox {
padding-top: 0rem;
}
.sticky-content.fix-top {
top: 0;
}
.toolbox {
font-size: 1.3rem;
line-height: 1.5;
padding: 3.5rem .2rem 1rem;
transition: margin .4s;
background-color: #fff;
}
.toolbox {
justify-content: space-between;
}
.toolbox, .toolbox-left, .toolbox-right, .toolbox-item, .toolbox-item-full {
display: flex;
align-items: center;
flex-wrap: wrap;
}

.toolbox>*:not(:last-child), .toolbox-left>*:not(:last-child), .toolbox-right>*:not(:last-child) {
margin-right: 1.8rem;
}
.toolbox, .toolbox-left, .toolbox-right, .toolbox-item, .toolbox-item-full {
display: flex;
align-items: center;
flex-wrap: wrap;
}

.toolbox, .toolbox-left, .toolbox-right, .toolbox-item, .toolbox-item-full {
display: flex;
align-items: center;
/* flex-wrap: wrap; */
flex-wrap: nowrap;
}
.toolbox label 
{
display: inline-block;
  width: 50%;
  vertical-align: initial;
  margin-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 10px;
}
.toolbox .form-control
{
font-size: 14px;
margin-right: 10px;
margin-bottom: 0px;
background-color: #eff2f7
}
.product-listing-filter
{
background-color: #e31836;
color: #fff !important;
margin-bottom: 10px;
text-align: center;
display: block;
width: 100% !important;
  padding: 10px 10px !important;
}
.product-listing-filter:hover
{
background-color: #e31836;
color: #fff !important;
margin-bottom: 10px;
text-align: center;
display: block;
width: 100% !important;
  padding: 5px 10px !important;
}



.topline 
{
text-align: center;
color: #d40029;
font-weight: 500;
font-size: 24px;
}

.login-text 
{
color: #393637;
  text-align: center;
  margin: 0;
  font-size: 14px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: #d40029 !important;
background-color: transparent;
border-bottom: 2px solid #d40029;
border-radius: 0px;
}

.nav-pills .nav-link.active b{
color: #d40029 !important;
}
/* Product listing sidebar */

.card-header
{
background-color: #fff;
}

.services .list-icon-box
{
border: 1px solid #d9dbdd;
  border-radius: 0px;
  padding-bottom: 25px;
  height: 440px;
  margin-bottom: 20px;
  text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: #d40029 !important;
background-color: transparent;
/* border-bottom: 2px solid #d40029; */
border-radius: 0px;
}
.card-body button, input
{
border: none;
}


/* Product Details */



/*======products-details=====*/
._product-detail-content {
background: #fff;
padding: 15px;
border: 1px solid lightgray;
}
._product-detail-content p._p-name {
color: black;
font-size: 20px;
border-bottom: 1px solid lightgray;
padding-bottom: 12px;
}

.xzoom-gallery 
{
border: 1px solid #d7d7d7;
}
.xzoom-thumbs
{
display: flex;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.main-product-details 
{
margin-top: 60px;
margin-bottom: 60px;
}
.product-details .product-details .product-navigation {
padding: 0.2rem 2px .3rem;
}

.product-navigation {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 0rem 2px 1.1rem;
}
.product-navigation .product-nav {
margin-bottom: 1rem;
}

.product-nav {
display: flex;
position: relative;
color: #999;
}
.product-navigation .breadcrumb {
/* margin: 0 2rem 1rem 0; */
font-size: inherit;
margin-bottom: 0px;
}

.breadcrumb {
display: flex;
flex-wrap: wrap;
align-items: center;
color: #666;
font-family: Poppins,sans-serif;
font-size: 1.4rem;
}
.product-nav {
display: flex;
position: relative;
color: #999;
}
.breadcrumb li:not(:last-child)::after {
  content: '\f105';
  position: relative;
  margin: 0 .6em;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  color: #d40029;
}
.breadcrumb-item.active {
  color: #a09c9d;
}
.product-nav-prev
{
margin-right: 10px;
}
.product-nav-next
{
margin-right: 10px;
}

.product-nav i 
{
color: #e31836;
font-size: 13px;
}
.product-title 
{
color: #000;
margin-top: 0px;
margin-bottom: 10px;
font-weight: 500;
}
.sub-product-title
{
color: #909295;
}
.product-detail-star i
{
color: #ffc107;
}
.product-sub-title
{
margin-bottom: 5px;
  color: #454749;
}
._p-qty
{
/* border: 1px solid #cdcdcd; */
  /* background-color: #e9ecef; */
  color:#d40029;
}
._p-qty > span {
color: black;
margin-right: 15px;
font-weight: 500;
}
._p-qty .value-button {
display: inline-flex;
border: 0px solid #ddd;
margin: 0px;
width: 35px;
height: 35px;
justify-content: center;
align-items: center;
background: #fff;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: #fe0000;
}

._p-qty .value-button {
border: 1px solid #ddd9d9;
height: 35px;
font-size: 20px;
font-weight: bold;
}
._p-qty input#number {
text-align: center;
border: none;
margin: 0px;
width: 50px;
/* height: 40px; */
font-size: 14px;
box-sizing: border-box;
border: 1px solid #dfdfdf;
line-height: 25px;
/* position: relative; */
/* left: 0px; */
padding: 6px 0px 2px 0px;
}

.btn-addcart 
{
width: 100%;
height: 40px;
border-radius: 5px;
background-color: #d40029;
color: #fff;
border-color:  #d40029;
font-size: 13px;
}
.btn-addcart:hover
{
width: 100%;
height: 40px;
border-radius: 5px;
background-color: #fff;
color: #d40029;
border-color:  #d40029;
font-size: 13px;
}

.xzoom-container 
{
border: 1px solid #d9dbdd;
border-radius: 5px;}

.product-main-image img
{
width: 65%;
margin: 0 auto;
display: block;
}

/* cart */

table {
width: 100%;
border-collapse: collapse;
}

.cart-table
{
text-align: left;
}

.cart-table .cart-product-name {
color: #333;
}

.cart-table th {
padding: 1rem 0 1.2rem;
letter-spacing: -0.025em;
}
.cart-table .product-name {
white-space: normal;
word-break: break-word;
}
.cart-table th {
padding: 0.8rem 0.9rem 0.9rem;
font-size: 14px;
font-weight: 600;
color: #333;
text-transform: capitalize;
line-height: 1.6;
letter-spacing: 0;
background-color: #f6f6f6;
}

.cart-table .cart-product-price {
width: 17.3%;
}

.cart-table tbody td:not(:first-child), .cart thead th:not(:first-child) {
padding-left: 1rem;
}

.cart-product-price:not(:last-child) {
margin-bottom: 0.9rem;
}

.cart-table .cart-product-quantity {
width: 25.7%;
}

.cart-table .cart-product-subtotal {
width: 16%;
}

.cart-table .cart-product-thumbnail {
width: 11rem;
padding-right: 1rem;
}

.cart-table td {
padding: 2rem 0 2rem 0;
border-top: 1px solid #eee;
font-size: 15px;
}

.cart-table td.cart-product-price {
font-weight: 600;
font-size: 18px;
}
.cart-table td.cart-product-subtotal {
font-weight: 600;
font-size: 18px;
color:#d40029;
}
.cart-table img {
display: block;
/* max-width: 100px; */
height: 75px;
border: 1px solid #dddddd;
width: 100%;
max-width: 100px;
margin: 0 auto;

}

.cart-table .cart-product-quantity {
width: 25.7%;
}

.cart-table .cart-product-thumbnail > div {
display: block;
max-width: 10rem;
width: 100%;
}


.your-order-table th {
padding: 0.8rem 0.9rem 0.9rem;
font-size: 14px;
font-weight: 600;
color: #333 !important;
text-transform: capitalize;
line-height: 1.6;
letter-spacing: 0;
background-color: #f6f6f6;
}
.your-order-table td {
padding: 2rem 0 2rem 0;
border-top: 1px solid #eee;
font-size: 15px;
}
.your-order-table tbody td:not(:first-child), .your-order-table thead th:not(:first-child) {
padding-left: 1rem;
}
.your-order-table
{
text-align: left;
}

.your-order-table .sno {
color: #333;
}
.your-order-table .product {
color: #333;
  /* font-weight: 500; */
}
.your-order-table .qty {
color: #333;
width: 13%;
}
.your-order-table .total {
color: #d40029;
width: 24%;
font-weight: 600;
}

.wishlist-table .cart-product-stock-status {
width: 19.84%;
}
.wishlist-table .wishlist-in-stock {
color: #096e3f;
}
.wishlist-table .wishlist-action {
width: 24.19%;
}
.wishlist-action a
{
color: #fff;
  height: 40px;
}
.cart-qty 
{

   border: none;
   background-color: transparent;

}

.cart-details 
{
margin-top: 50px;
margin-bottom: 50px;
}

.btn-continue-shop
{
background-color: #4d4a4b;
color: #fff;
border-color: #4d4a4b;
height: 45px;
width: 100%;
font-size: 13px;
}
.btn-continue-shop:hover
{
background-color:  #4d4a4b;
color: #fff;
border-color: #4d4a4b;
  height: 45px;
  font-size: 13px;
}

.btn-update-cart
{
background-color:#d40029;
color: #fff;
border-color: #d40029;
height: 45px;
width: 100%;
font-size: 13px;
}
.btn-update-cart:hover
{
background-color: #d40029;
color: #fff;
border-color: #d40029;
  height: 45px;
  width: 100%;
  font-size: 13px;
}
.btn-clear-cart
{
background-color:#eff2f7;
color:  #4d4a4b;
border-color: #eff2f7;
height: 45px;
width: 100%;
font-size: 13px;
}
.btn-clear-cart:hover
{
background-color: #d40029;
color: #fff;
border-color: #d40029;
  height: 45px;
  width: 100%;
  font-size: 13px;
}

.cart-actions 
{
margin-top: 10px;
margin-bottom: 30px;
}

.cart-totals
{
/* padding: 2.3rem 3rem 3rem 3rem; */
  border: 1px solid #eee;
  border-radius: 4px;
  line-height: 1;
}

.cart-total-title h3 
{
background-color: #f6f6f6;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 14px;
  font-size: 16px;
  font-size: 19px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.cart-totals-particulars
{
border: 1px solid #eee;
border-radius: 4px;
line-height: 1;
padding: 20px;
}

.cart-orders-particulars {
border: 1px solid #eee;
border-radius: 4px;
line-height: 1;
padding: 20px;
margin-bottom: 10px;
}

.cart-subtotal 
{
margin-bottom: 20px;
}
.cart-subtotal label 
{
font-size: 18px;
font-weight: 600;
position: initial;
  color: inherit;
}

.cart-subtotal span 
{
font-size: 18px;
  font-weight: 600;
  color: #d60c33;
}

.cart-subcharges label
{
font-size: 15px;
  color: #65686a;
  position: initial;
}
.cart-subcharges span
{
color: #000;
font-weight: 500;
}
.cart-coupon
{
margin-top:20px;
margin-bottom: 20px;
}

.cart-total 
{
margin-bottom: 20px;
margin-top:20px;
}
.cart-total label 
{
font-size: 22px;
font-weight: 600;
position: initial;
  color: inherit;
}

.cart-total span 
{
font-size: 20px;
  font-weight: 600;
  
}

.cart-product-delete
{
text-align: center;
text-align: center;
  position: relative;
  left: -15px;
}
.cart-product-delete i
{
color: #d40029;
}


.btn-placeorder 
{
width: 100%;
height: 45px;
background-color: #28a745;
border-color: #28a745;
color: #fff;
}
.btn-placeorder:hover
{
width: 100%;
height: 45px;
background-color: #28a745;
border-color: #28a745;
color: #fff;
}

/* Cart address */



.floating-label { 
position:relative; 
margin-bottom:40px; 
}
.floating-input , .floating-select {
font-size:14px;
padding:4px 4px;
display:block;
width:100%;
height:30px;
background-color: transparent;
border:none;
border-bottom: 1px solid #cbc7c7;
}

.floating-input:focus , .floating-select:focus {
   outline:none;
   border-bottom:2px solid #d40029; 
}

.floating-form label {
color:#353535; 
font-size:14px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:5px;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
top:-18px;
font-size:14px;
color:#d40029;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
top:-18px;
font-size:14px;
color:#5264AE;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
width:50%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
 min-height: 30px;
 max-height: 260px; 
 overflow:hidden;
overflow-x: hidden; 
}

/* highlighter */
.highlight {
position:absolute;
height:50%; 
width:100%; 
top:15%; 
left:0;
pointer-events:none;
opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
from { background:#d40029; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
from { background:#d40029; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
from { background:#d40029; }
to 	{ width:0; background:transparent; }
}

.floating-credit { position:fixed; bottom:10px;right:10px; color:#aaa; font-size:13px;font-family:arial,sans-serif; }
.floating-credit a { text-decoration:none; color:#000000; font-weight:bold; }
.floating-credit a:hover { border-bottom:1px dotted #f8f8f8; }
.floating-heading { position:fixed; color:#aaa; font-size:20px; font-family:arial,sans-serif; }

.cart-heading 
{
background-color: #f6f6f6;
  font-size: 19px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
  padding: 15px;
  margin-bottom: 10px;
}
.cart-bottom-label 
{
font-size: 14px;
color: #353535;
font-weight: 600;
}

.custom-control-label
{
font-size: 14px;
}

/* my account */

.user-icon 
{
text-align: center;
margin-bottom: 15px;
}
.user-icon p 
{
margin-top: 10px;
}
.myaccount-side 
{
box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
padding: 20px;
}

.card-product-list .img-wrap
{
border: 2px solid #eff2f7;
  border-radius: 10px;
}
.rating-wrap 
{
margin-bottom: 0px !important;
}
.profile-info 
{
margin-top: 40px;
}

.myaccount-radio label
{
position: relative !important;
}

.billing-address h4 
{
font-weight: 400;
font-size: 18px;
}

.billing-address p 
{
font-size: 15px;
  margin: 5px;
}

.payment-details 
{
margin-top: -40px;
}
.btn-danger 
{
color: #fff !important;
}

.cart-payment-method h3
{
margin-top: 5px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 500;
  color: #d40029;
  text-transform: capitalize;
}

.payment-method .custom-control-label {
font-size: 16px;
margin-top: 0px;
margin-bottom: 20px;
}
.by-category-main 
{
padding: 10px;
box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
transition: 1s;
margin-bottom: 20px;
}

.by-category-main:hover 
{
box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
} 
.by-category-main:hover p
{
color: #d40029;
}


.by-category-img img

{
width: 40px;
}

.by-category-text 
{
width: 30%;
}
.by-category-text p

{
position: absolute;
top: 20px;
right: 0;
left: 28%;
text-align: left;
font-size: 14px;
}


.list-icon-box img
{
width: 230px;
height: 230px;
}

.services-list .description 
{
line-height: 24px;
font-size: 14px;
text-align: center;
color: #000;
padding: 6px;
height: auto;
margin-bottom: 5px;
height:75px;
}
.services-list .icon-box
{
height: 440px;
}
.services-list .icon-box img

{
width: 230px;
height: 230px !important;
}


/* search auto complete */

.typeahead{
padding:15px 200px;
width:100% !important;
background-color: #fff !important;
padding-left:40px !important;
font-size:18px;
}
.empty-message{
color:red;
text-align: center;
padding:10px 0px;
}
.tt-menu {
display: block;
/* width:152%; */
background-color: #fff;
border:unset !important;
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
padding: 3px 20px;
font-size: 18px;
line-height: 24px;
cursor: pointer;
}
.man-section{
position: relative;
width:94%;
border-bottom:1px solid #d2d2d2;;
font-family: 'Roboto Condensed', sans-serif;
}
.image-section{
width:10%;
float:left;
display: table;
}
.image-section img{
width:70px;
height:70px;
border:1px solid #000;
display: table-cell;
vertical-align: middle;
margin:6px 0px 5px -9px;
}
.description-section{
float:left;
width:80%;
}
.description-section h1{
margin:0px;
font-weight: bold;
padding:0px 7px;
font-size:16px;
color:#000;
margin-top:4px;
 text-transform: uppercase;
}
.description-section p{
margin:0px;
padding:0px 1px 0px 8px;
font-size:14px;
color:#7d7f80;
line-height: 15px;
}
.description-section span{
padding:7px;
font-size:13px;
color:#a09999;
}
.more-section{
position: absolute;
bottom:7px;
right:16px;
}
.more-section a{
text-decoration: none;
}
.more-section button{
border:unset;
color:#fff;
border-radius: 5px;
padding:5px;
background-color:#5D4C46 !important;
}

.megamenu-image 
{
  width: 250px;
}


.card-header a:before {
  font-family: 'FontAwesome';
  content: "\f077";
  float: right;
  transition: all 0.5s;
}
.card-header a.collapsed:before {
-webkit-transform: rotate(
180deg
);
-moz-transform: rotate(180deg);
transform: rotate(
180deg
);
}



/* Product detail available stores */

.product-available-stores
{
margin-top: 10px;
margin-bottom: 10px;
}
.avl-store-feature 
{
border: 1px solid #ddd9d9;
text-align: center;
padding: 10px;
}

.avl-store-feature p 
{
margin: 0;
}
.avl-store-feature .yes 
{
color: #36993a;
}
.avl-store-feature .no
{
color: #d40029;
}

.panel-group .panel {
border-radius: 0;
box-shadow: none;
border-color: #EEEEEE;
}

.panel-default > .panel-heading {
padding: 0;
border-radius: 0;
color: #212121;
background-color: #FAFAFA;
border-color: #EEEEEE;
}

.panel-title {
font-size: 14px;
}

.panel-title > a {
display: block;
padding: 15px;
text-decoration: none;
color: #000;
font-size: 16px;
}

.more-less {
float: right;
color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
border-top-color: #EEEEEE;
padding-left: 30px;
}

.product-feature-tabs
{
margin-top: 20px;
margin-bottom: 20px;
}
.price-strike 
{
text-decoration: line-through;
color: #9e9e9e;
  font-size: 19px;
  margin-left: 5px;

}



.mega-container li {
padding:5px;
width:100%;
color:#fff;
font-size: 14px;
}
.mega-container ul {height:100%;}
.mega-container > ul {
width:250px;
background-color:#fff;
position:relative;
overflow:visible;
}
.mega-container > ul > li {transition: 1s;}
.mega-container > ul > li:hover {
/* background-color: #d40029;   */
/* border-bottom: 1px solid #d40029; 
color: #fff !important; */
}



.mega-container > ul > li {
display: inline-block;
color: #000;
text-decoration: none;
margin-bottom: 0px;
}


.mega-container > ul > li a {color: #000 !important;
}

.mega-container > ul > li > ul {
display:none;
position:absolute;
right:-250px;
top:0px;
width:250px;
background-color:#fff;
}
.mega-container > ul > li:hover > ul {
display:block;
font-size: 12px;
}

.mega-container ul li ul li{
padding: 5px;

}



.mega-container > ul > li > ul > li{
display: inline-block;
color: #000;
text-decoration: none;
margin-bottom: 0px;
}


.mega-container > ul > li > ul > li > ul {
display:none;
position:absolute;
right:-250px;
top:0;
width:250px;
background-color: #fff;
}
.mega-container > ul > li > ul > li:hover ul {
display:block;
}
.mega-container > ul > li > ul > li > ul > li:hover {background-color:fff;}
.mega-container > ul > li > ul > li ul li ul li {
border-bottom:1px dotted #fff;
padding:5px;


}



.mega-container > ul > li > ul > li > ul > li {
display: inline-block;
color: #000;
text-decoration: none;
margin-bottom: 0px;
}


.mega-container > ul > li > ul > li > ul > li > ul {
display:none !important;
position:absolute;
right:-250px;
top:0;
width:250px;
background-color: #fff;
}

.mega-container > ul > li > ul > li > ul > li:hover ul{
display:block !important;
}



.mega-container > ul > li > ul > li > ul > li::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #000;
transition: width .3s;
margin-top: 5px;
}

.mega-container > ul > li > ul > li > ul > li:hover::after {
width: 50%;
transition: width .3s;
}



.mega-container > ul > li > ul > li::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #000;
transition: width .3s;
margin-top: 5px;
}

.mega-container > ul > li > ul > li:hover::after {
width: 50%;
transition: width .3s;
}


.mega-container > ul > li::after {
content: '';
display: block;
width: 0;
height: 2px;
background: #000;
transition: width .3s;
margin-top: 5px;
}

.mega-container > ul > li:hover::after {
width: 50%;
transition: width .3s;
}




.mega-container ul li ul li a
{
color:#000 !important;
}
.mega-container ul li:hover {
color: #fff !important;
}
.mega-container ul li a {
color: #000 !important;
}


.mega-container .fa-chevron-right 
{
float: right;
  font-size: 10px;
  position: relative;
  top: 10px;
}

.mega-parent{
cursor:pointer;
}

.mega-catimg{
  display:none;
  padding:10px;
  text-align:center;
  
}
.menu-category-image
{
  position: absolute;
  right: 5%;
  top: 0px;
}

.mega-catimg img{
  margin: 0 auto;
  width: 280px;
}

/* cart wizard */

.cart-tab-number 
{
margin-right: 25px;
  text-align: center;
  background-color: #d40029;
  color: #fff;
  padding: 7px 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.cart-tab-active-number 
{
margin-right: 10px;
text-align: center;
background-color: #727272;
color: #fff;
padding: 0px 5px;
border-radius: 50%;
width: 30px;
height: 30px;
line-height"FONT-VARIANT: JIS83;
line-height: 30px;
font-size: 19px;
}
.nav-pills .listing-nav 
{
color: #000;
}

.nav-pills .nav-link.active .cart-tab-number 
{
display: none;
}
.nav-pills .nav-link.active .cart-tab-active-number 
{
display: inline-block;
}
.nav-pills .nav-link .cart-tab-active-number 
{
display: none;
}

.product-detail-bototm .nav-pills 
{
margin-bottom: 30px;
  background-color: #eff2f7;
  border-bottom: 2px solid #bcbcbc;
}

.order-confirm-thanks h3 
{
color: #4caf50;
margin-top: 30px;
margin-bottom: 30px;
}

.order-confirm-product .product-title h5
{
font-size: 15px;
  line-height: 24px;
}


.order-confirm-product .confirm-product-color
{
font-size: 14px;
}
.order-confirm-product .confirm-product-color span,

.order-confirm-product .confirm-product-qty span

{
font-weight: 500;
  color: #d40029;
}

.order-confirm-product .confirm-product-qty
{
font-size: 14px;
}


.order-confirm-product .cart-totals-particulars,
.order-confirm-product .cart-totals
{
border: none;
padding: 5px;
}

.order-confirm-total 
{
margin-bottom: 0px;
}

.order-confirm-invoice 
{
background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-size: 13px;
}
.order-confirm-invoice:hover 
{
background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-size: 13px;
}

.order-confirm-product 
{
margin-top: 0px;
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid #e1dede;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
}


#progressbar {
margin-bottom: 5px;
overflow: hidden;
color: #455A64;
padding-left: 0px;
margin-top: -10px
}

#progressbar li {
list-style-type: none;
font-size: 13px;
width: 25%;
float: left;
position: relative;
font-weight: 400
}

#progressbar .step0:before {
font-family: FontAwesome;
content: "\f10c";
color: #fff
}

#progressbar li:before {
width: 40px;
height: 40px;
line-height: 45px;
display: block;
font-size: 20px;
background: #C5CAE9;
border-radius: 50%;
margin: auto;
padding: 0px
}

#progressbar li:after {
content: '';
width: 100%;
height: 12px;
background: #C5CAE9;
position: absolute;
left: 0;
top: 16px;
z-index: -1
}

#progressbar li:last-child:after {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
position: absolute;
left: -50%
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
left: -50%
}

#progressbar li:first-child:after {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
position: absolute;
left: 50%
}

#progressbar li:last-child:after {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
background: #4caf50;
}

#progressbar li.active:before {
font-family: FontAwesome;
content: "\f00c"
}


.order-confirm-track h3 
{
margin-top: 10px;
  margin-bottom: 15px;
  font-size: 24px;
  margin-left: 15px;
}

.order-confirm-track h3 span 
{
  font-size: 18px;
  color: #000;
}



.order-confirm-track 
{
padding: 5px;
  border: 1px solid #e1dede;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  padding-bottom: 20px;
}

.order-track-status p
{
padding: 10px;
/* background-color: #eff2f7; */
display: inline-block;
text-align: center;
margin-top: 10px;
margin-bottom: 20px;
font-size: 14px;
font-weight: 600;
}

.icon-content p 
{
font-size: 15px;
}

.order-track-status 
{
text-align: center;
 
}

.track-bottom p 
{
margin: 0;
}

.product-detail-sub-details
{

margin-top: 10px;
margin-bottom: 10px;
}

.product-detail-sub-details .skutitle
{
color: #d40029;
margin-right: 5px;
font-weight: 500;

}

.product-detail-sub-details .brandtitle
{
color: #d40029;
margin-right: 5px;
margin-left: 10px;
font-weight: 500;

}
.product-detail-sub-details .availability 
{
color: #d40029;
margin-right: 5px;
font-weight: 500;
}
.product-detail-sub-details .in-stock
{
color: green;
}
.product-detail-sub-details .out-stock
{
color: red;
}



#gallery_pdp {
width: 15% !important;
overflow: hidden;
float: left;
}

.gallery-viewer 
{

  width: 85%;
  float: left;

}

.payment-image-radio 
{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-top: 15px;
}

.payment-page img
{
border: 1px solid #eff2f7;
  width: 70%;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.floating-label i 
{
color: #d40029;
  font-size: 18px;
  margin-right: 10px;
}

.product-detail-main
{
text-align: center;
border: 1;
border: 2px solid #eff2f7;
border-radius: 25px;}

.product-detail-main img 
{
max-width: 500px;
}

.offer-tag 
{
position: absolute;
  right: 0;
  top: 15px;
  left: 76%;
  width: 20%;
}
.offer-tag p 
{
background-color: #118915;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
}



.ribbon3 {
width: 115px;
height: 37px;
line-height: 38px;
padding-left: 15px;
position: absolute;
left: 0px;
top: 20px;
background: #ee9718;
color: #fff;
font-size: 13px;
}
.ribbon3:before, .ribbon3:after {
content: "";
position: absolute;
}
.ribbon3:before {
height: 0px;
width: 15px;
top: -8.5px;
left: 0.1px;
border-bottom: 9px solid black;
border-left: 17px solid transparent;
}
.ribbon3:after {
height: 0;
width: 0;
right: -14.5px;
border-top: 19px solid transparent;
border-bottom: 19px solid transparent;
border-left: 15px solid #ee9718;
}


.switch-field input {
position: absolute !important;
clip: rect(0, 0, 0, 0);
height: 1px;
width: 1px;
border: 0;
overflow: hidden;
}

.switch-field label {
background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  line-height: 1;
  text-align: center;
  padding: 10px 15px;
margin-right: -1px;
border: 1px solid rgba(0, 0, 0, 0.2);
/* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
transition: all 0.1s ease-in-out;
width: 45%;
}

.switch-field label:hover {
cursor: pointer;
}

.switch-field input:checked + label {
background-color: #db4437;
box-shadow: none;
color: #fff;
}

.switch-field label:first-of-type {
border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
border-radius: 0 4px 4px 0;
}

.cart-outofstock 
{
margin: 0;
background-color: #d40029;
text-align: center;
color: #fff;
margin-bottom: 3px;
}




.hc-offcanvas-nav .nav-wrapper {
background: #fff;
}
.hc-offcanvas-nav li {
text-align: left;
}
.hc-offcanvas-nav li {
position: relative;
display: block;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
background: #2c5d8f;
border-top: 1px solid #295887;
border-bottom: 1px solid #295887;
}
.hc-offcanvas-nav li.nav-parent a {
padding-right: 58px;
}
.hc-offcanvas-nav li.nav-parent a {
padding-right: 58px;
}
.hc-offcanvas-nav.is-ios * {
cursor: pointer !important;
}

.hc-offcanvas-nav a {
font-size: 16px;
}
.hc-offcanvas-nav a {
padding: 14px 17px;
font-size: 15px;
color: #000;
z-index: 1;
background: rgba(0,0,0,0);
border-bottom: 1px solid #e8e8e8;
}
.hc-offcanvas-nav a, .hc-offcanvas-nav a:hover {
text-decoration: none;
}
.hc-offcanvas-nav a {
position: relative;
display: block;
box-sizing: border-box;
cursor: pointer;
}

.hc-offcanvas-nav li.nav-close span, .hc-offcanvas-nav li.nav-parent span.nav-next, .hc-offcanvas-nav li.nav-back span {
width: 45px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
text-align: center;
cursor: pointer;
transition: background .2s ease;
}
.hc-offcanvas-nav span.nav-next::before, .hc-offcanvas-nav li.nav-back span::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 8px;
height: 8px;
margin-left: -2px;
box-sizing: border-box;
border-top: 2px solid #d40029;
border-left: 2px solid #d40029;
transform-origin: center;
}

.hc-offcanvas-nav li.nav-close span, .hc-offcanvas-nav li.nav-parent span.nav-next, .hc-offcanvas-nav li.nav-back span {
width: 45px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
text-align: center;
cursor: pointer;
transition: background .2s ease;
}
.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
background: #2c5d8f;
border-top: 1px solid #295887;
border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav span.nav-next::before {
transform: translate(-50%, -50%) rotate(
135deg
);
}


.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
background: #2c5d8f;
border-top: 1px solid #295887;
border-bottom: 1px solid #295887;
}

.nav-close 
{
background-color: #efefef;
}


/* ongoing */

.your-ongoing-order
{
padding: 10px;
border: 1px solid #e1dfdf;

box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
margin-bottom: 10px;
}


.order-details .title 
{
  color: #d40029;
  margin-right: 15px;
  font-weight: 600;
}

/* search */

.search-menu-list 
{
  padding: 10px;
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    transition: 1s;
    margin-bottom: 20px;
}

.search-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-category-menu .search-sidebar ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  margin-bottom: 10px;
  border: 1px solid #dcdcdd;
  transition: 0.3s;
}

.search-category-menu .search-sidebar ul li a:hover {
  background-color: #e31836;
  color: #fff
}
.search-category-menu .search-sidebar ul li a:hover .search-badge {
color: #e31836;
}

.search-badge
{
  float: right;
  margin-top: -25px;
  margin-left: 5px;
  position: absolute;
  right: 15%;
  background-color: #d40029;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 13px;
  color: #fff;
}

/* label */
.new-product-label 
{
  position: absolute;
  top: 0;
  right: 0;
  left: 65%;
  background-color: #d40029;
  color: #fff;
  width: 25%;
  font-size: 14px;
  padding: 5px;
}
.add-to-wishlist 
{
  position: absolute;
    top: 2%;
    left: 10%;
}
.add-to-wishlist  i:hover 
{
color:  #d40029;
}
.add-to-wishlist i
{
  color: #a9adb4;
}

.your-ongoing-order-tabs 
{
  margin-top: 50px;
}

.order-details .description {
  line-height: 24px;
    font-size: 13px;
    text-align: center;
    color: #000;
    padding: 6px;
    height: 80px;
    margin-bottom: 0px;
    white-space: normal;
}

.order-details .btn-outline-primary {
  color:  #e31836;
  border-color: #e31836;
  background-color:#fff;
  font-size: 13px;
}
.order-details .btn-outline-primary:hover {
  color:  #fff;
  border-color: #e31836;
  background-color:#e31836;
}

.order-details .id-title {
  color: #d40029;
text-align: center;
margin-bottom: 10px;}

.order-details .list-icon-box img {
  width: 140px;
  max-height: 140px;
  height: 100%;
}
.order-details .list-icon-box

{
  border: 1px solid #d5d3d3;
  text-align: center;
  border-radius: 0px;
  padding-bottom: 25px;
  height: 310px;
  margin-bottom: 20px;
  margin-top:0px;
  
}
.order-details 
{
  padding: 5px;
}
.info-aside .btn
{
  font-size: 14px;
}

.info-aside .order-btn
{
  background-color: #13b66c !important;
  border: 1px solid #13b66c !important;
  color: #fff !important;
}

.order-details .orderid,
.order-details .orderdate


{
  color: #858282;
}

.order-details .completed 
{
  color: #19b41f;
  font-weight: 500;
}
.order-details .processing
{
  color: #e3ce15;
  font-weight: 500;
}
.order-details .cancelled
{
  color: #e12449;
  font-weight: 500;
}
.order-details .order-total-amount
{
  color: #19b41f;
  font-weight: 500;
  font-size: 17px;
}

.order-product-group > .row
{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 10px;
}

.order-product-group > .row > .col-xl-4
{
  display: inline-block;
}

.order-product-group > .row::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  background-color: #F5F5F5;
  border-radius:30px;
  margin-bottom:10px;

}

.order-product-group > .row::-webkit-scrollbar
{
  height: 10px;
  background-color: #777373;
  border-radius:30px;
  margin-bottom:10px;

}

.order-product-group > .row::-webkit-scrollbar-thumb
{
  background-color: #777373;
  border-radius:30px;
  margin-bottom:10px;


}
.order-product-group 
{

}


/* Inner pages */

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
  background-color: #393232;
  text-align: center;
  text-transform: capitalize;
}

.page-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.1;
  margin-bottom: 0.2rem;
  color: #fff
}

.about-us-page
{
  margin-bottom: 80px;
  margin-top: 80px;
}
.about-us-page h3
{
margin-top: 10px;
margin-bottom: 5px;
}
.about-us-page p
{
  font-size: 15px;
  color: #4f4d4d;
  text-align: justify;
  line-height: 24px;
}
.page-heading-title
{
  margin-bottom:20px;

}

.page-heading-title span 
{
  font-weight: 600;
}


.about-us-image img 
{
  border-radius: 45px;
    box-shadow: 1px 9px 10px 0px #e6e6e6;
}

.about-vision , .about-mission
{
  background-color: #eff2f7;
    padding: 20px;
    /* border: 1px solid #dddddd; */
    border-radius: 20px;

}
.mvicons 
{
  background-color: #d40029;
  padding: 40px;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
.mvicons i 
{
  color: #fff;
    font-size: 75px;
    position: absolute;
    /* left: 48px; */
    top: 30px;
}
.mvicons p 
{
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.about-us-bottom
{
  background-color: #d40029;
  padding: 40px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.about-us-bottom p 
{
  margin: 0;
  color: #fff;
}

.about-us-bottom .btn-primary 
{
  width: 100%;
}


.faq-page .nav-pills .listing-nav {
  color: #000;
  background-color: #eff2f7;
  margin-right: 5px;
  border-radius: 30px;
  padding: 10px 25px;

}


.faq-page .nav-pills .nav-link.active, .faq-page .nav-pills .show > .nav-link {
  color: #ffffff !important;
  background-color: #d40029;
  /* border-bottom: 2px solid #d40029; */
  border-radius: 30px !important;
  padding: 10px 25px;
}

.faq-page-tabs .card-header {
  background-color: #eff2f7;
  margin-bottom: 10px;
}

.faq-page-tabs h3 
{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  
}

.faq-page-tabs .card-body 
{
  border: 1px solid #eee;
    border-top: 0;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.faq-page-tabs .faq-list
{
  list-style-type: circle;
  padding-left: 30px;
}
.ajax-loader {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: +100 !important;
  width: 100%;
  height: 100%;
}


#center 
{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -30px; 
  margin-left: -90px;
  z-index:5;
}

